body{
	font-family: 'Open Sans',sans-serif;
	background-color: black;
  
    
}
#container{
	background-image: url(Lcars_wallpaper.svg.png);
    background-repeat:no-repeat;
    height: 900px;
	
		
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: black;
	margin: 0 auto;
	top: 350px;
    left: 490px;
	position: absolute;
	border-radius: 5px;

    

}
#result{
	height: 120px;
    color: orange;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #7d93e0;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #f08080;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #ffa500;
}


h1,h2 {
    text-align: left;
    color: orange;
  }

article {
    width: 400px;
    min-height: 480px;
    margin: 0 auto;
    padding: 10px;
    color: orange;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    line-height: 1.5;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    width: 480px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  
  li {
    float: left;
    width: 33%;
    color: orange;
    text-align: left;
  }
  
  ul li a {
    display: block;
    text-align: left;
    color: orange;
    text-decoration: underline;
    cursor: pointer;
  }
  
  ul li a:hover, ul li a:focus {
    text-decoration: none;
  }