
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

h1 {
  font-size: 1.9rem;
  color: #e6f9ff;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color:red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

h2 {
  font-size: 1.1rem;
  text-align: center;
  border-bottom: 1px solid #bbb;
}

header,
main,
footer {
  margin: 1.7rem auto;
  padding: 1.2rem;
  max-width: 1000px;
}

header,
footer,
footer a {
  text-align: center;
  background-color: darkblue;
  color: whitesmoke;
}

header img {
  width: 50%;
  margin: 0 0 0 2%;
  float: right;
}
header figure.mypicture img {
  width: 20%;
  margin: 0;
}

footer {
  font-size: 13px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
